.search {
    display: flex;



    .main-container {
        display: flex;
        flex-direction: column;


        .Navbar {}


        .cate {
            display: flex;
            flex-direction: row;
        }
    }


}