.slide {
    display: flex;
    justify-content: center;
    // padding: 80px 0px;
    margin-top: 20px;
    .container {
        width: 1400px;
        position: relative;
    }

    .carousel-initialized {
        position: static;
    }

    .carousel-prev,
    .carousel-next {
        width: 25px;
        height: 25px;
        background-color: rgb(243, 243, 243);
        border-radius: 50%;
        position: absolute;
        top: 0;
        bottom: 10px;
        margin: auto;
    }

    .carousel-prev {
        left: -25px;
    }
}